.faq__text {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s linear;
  -o-transition: max-height 0.25s linear;
  transition: max-height 0.25s linear;

  ul {
    margin-left: 23px;
    margin-top: 15px;
    margin-bottom: 15px;
    li {
      margin-bottom: 5px;
    }
  }
  p {
    margin-bottom: 10px;
  }
}

.faq__header {
  position: relative;
  &:after {
    content: '+';
    position: absolute;
    top: calc(50% - 36px);
    right: 15px;
    font-size: 40px;
    font-weight: 900;
  }
}

.faq__position {
  position: relative;

  &.faq__position__active {
    .faq__header {
      &:after {
        content: '—';
        top: calc(50% - 23px);
        font-size: 30px;
        color: #fff;
      }
    }

    .faq__text {
      @apply mt-3 mb-5 mx-11;
    }

    .faq__header {
      @apply bg-accent text-white;
    }
  }
}
