h2 span {
  @apply text-accent;
}
.form-heading {
  @apply text-white text-center text-[40px] mdt:text-4xl md:text-[28px] sm:text-2xl my-10 sm:my-5;
  span {
    @apply text-accent;
  }
}

.heading_h1 {
  @apply font-main text-accent text-7xl text-center font-bold lg:text-5xl xs:text-4xl;

  span {
    @apply text-headings border-b-4;
  }
}

.heading_default_color {
  @apply font-main text-6xl font-bold lg:text-5xl xs:text-4xl;
  span {
    @apply text-accent;
  }
}

.hero_heading_h1 {
  @apply font-second text-black text-7xl text-center font-black lg:text-5xl xs:text-4xl;

  span {
    font-size: 130px;
    vertical-align: -10px;
    
  }
}

@media (max-width:1024px) {
  .hero_heading_h1 {  
    span {
      font-size: 100px;
      vertical-align: -10px;
      
    }
  }
  
}

@media (max-width:640px) {
  .hero_heading_h1 {  
    span {
      font-size: 80px;
      vertical-align: -10px;
      
    }
  }
  
}

.heading_default_color {
  @apply font-main text-6xl font-bold lg:text-5xl xs:text-4xl;
  span {
    @apply text-accent;
  }
}

.heading_h2 {
  @apply text-5xl font-bold !font-second text-headings text-center leading-[60px] lg:text-4xl lg:leading-[42px] md:text-3xl md:leading-[36px] sm:text-2xl sm:leading-[30px];

  &.heading_second {
    @apply text-headings_second;
  }

  span {
    @apply text-accent;
  }

  &.white {
    @apply text-white;
  }

  &.span_headings {
    span {
      @apply text-headings;
    }
  }
}

.heading_verdicts {
  @apply font-black text-5xl text-center text-black uppercase lg:text-4xl xs:text-3xl;
  span {
    @apply text-accent border-b-4 border-button_color;
  }
}

h4 span {
  @apply text-accent;
}

.hero_heading_h1 {
  &.banner {
    @apply text-10xl text-accent leading-[115px] uppercase font-second 2xl:text-10xl lg:text-6xl lg:leading-[75px] sm:text-5xl sm:leading-[55px];

    &.location {
      @apply !text-12xl !text-black lg:!text-7xl lg:!leading-[75px] xs:!text-5xl xs:!leading-[55px];
    }
  }

  &.banner-case-type {
    @apply !text-[200px] leading-[1.1] uppercase !text-black lg:!text-7xl lg:!leading-[75px] xs:!text-5xl xs:!leading-[55px];
  }
}

.hero_heading_h2 {
  @apply text-10xl font-bold font-second text-center uppercase text-black lg:!text-7xl lg:!leading-[75px] xs:!text-5xl xs:!leading-[55px];

  &.multi-step-form {
    @apply text-white leading-[110px];
  }
}


.hero-br {
  display: none;
}
@media (max-width: 1500px) {
  .hero-br {
    display: block;
  }
}