.table_of_content {
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  li {
    padding: 0;
    margin: 0;
    margin-bottom: 5px;
  }
  a {
    @apply hover:text-accent no-underline;
    &:before {
        content: url("../../img/right-arrow.svg");
        margin-right: 5px;
        display: inline-block;
        transform: translateY(7px);
    }
  }
}
