.btn {
  min-width: 290px;
  @apply bg-button_color font-main  px-8 py-4 md:px-6 md:py-3 uppercase  h-14 text-white flex justify-center items-center transition-all duration-100 rounded-full text-center font-bold w-max active:translate-y-[4px] active:shadow-lg hover:bg-button_hover_color;

  @media (max-width: 540px) {
    min-width: 240px;
  }

  /* button sizes */
  &.btn_xl {
    @apply text-4xl font-bold h-20 w-[580px] lg:w-[334px] lg:text-xl lg:h-[70px] md:w-[300px] md:h-[60px] md:text-[18px] sm:w-[246px] sm:text-[17px];
    .btn_arrow {
      @apply transform inline-block -translate-y-[0.3rem] md:-translate-y-[0.2rem];
    }
  }

  &.btn_md {
    @apply text-[20px] h-[70px];
    .btn_arrow {
      @apply transform inline-block -translate-y-[0.2rem] ;
    }
  }

  &.btn_sm {
    @apply text-[25px] h-[56px] tracking-wide min-w-[200px];
    .btn_arrow {
      @apply transform inline-block -translate-y-[0.2rem];
    }
  }

  &.btn_xs {
    @apply text-[25px] h-[50px] tracking-wide min-w-[200px];
    .btn_arrow {
      @apply transform inline-block -translate-y-[0.2rem];
    }
  }

  &.btn_form {
    @apply w-max !rounded-2xl !border-[5px] !min-w-[100%] h-20 !bg-button_color hover:bg-white hover:text-headings text-2xl text-white lg:h-[70px] md:w-[300px] md:h-[60px] md:text-[18px] sm:w-[195px] sm:min-w-[195px] sm:text-[17px] m-auto mt-5;
    span {
      @apply text-white;
    }
    .btn_arrow {
      @apply transform inline-block -translate-y-[0.2rem];
    }
  }

  /* button styles */
  &.btn_headings {
    @apply bg-headings text-white;
    .btn_text_1 {
      @apply text-white;
    }
    .btn_text_2 {
      @apply text-white;
    }
  }

  &.btn_form_design_one {
    @apply min-w-[230px] text-xl mt-9 m-auto;

    .btn_arrow {
      @apply transform inline-block -translate-y-[0.2rem];
    }

    &:hover {
      @apply text-2xl min-w-[270px] text-button_color;
    }

    &.btn-form-newsletter {
      @apply text-lg !items-center !bg-accent text-button_color p-0 !min-w-[340px] h-11 md:!min-w-[280px];

      &:hover {
        @apply min-w-[190px];
        
        span {
          @apply text-button_color;
        }
      }
    }
  }

  /* hover states */
  &.hover_white {
    @apply hover:bg-white  text-headings;
  }

  &.hover_white_text_accent {
    @apply hover:bg-white;
    &:hover {
      .btn_text_1 {
        @apply text-accent;
      }
      .btn_text_2 {
        @apply text-accent;
      }
    }
  }

  &.hover_accent {
    @apply hover:bg-accent;
  }

  &.hover_headings {
    @apply hover:bg-headings;
  }

  &.hover_outline_white {
    @apply hover:bg-transparent hover:border-2 hover:border-white hover:text-white;
  }

  &.hover_outline_accent {
    @apply hover:bg-transparent hover:border-2 hover:border-accent hover:text-accent;
  }

  &.white {
    @apply bg-white text-headings;
  }

  /* align */
  &.center {
    @apply mx-auto;
  }
}

.btn {
  min-width: 450px;
  @apply font-third relative !items-center bg-button_color hover:!bg-button_color text-2xl min-h-[75px] rounded-2xl border-white border-[5px] md:!items-center;

  &:after {
    @apply !bg-accent ;
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: all .35s;
    border-radius: 10px;
    z-index: -1;
  }

  &:hover::after {
    width: 100% ;
  }

  @media (max-width: 1024px) {
    min-width: 390px;
    font-size: 19px;
  }

  @media (max-width: 540px) {
    min-width: 315px !important;
    font-size: 17px;
  }

  @media (max-width: 390px) {
    min-width: 245px !important;
  }

  .btn_arrow {
    @apply transform inline-block -translate-y-[0.2rem];
  }

  &.btn-medium {
    min-width: 405px;

    @media (max-width: 1024px) {
      min-width: 350px;
    }
  }

  &.btn-smaller {
    min-width: 370px;

    @media (max-width: 1024px) {
      min-width: 340px;
    }
  }

  &.transparent {
    @apply bg-transparent border-button_color hover:!bg-transparent border-[5px] text-button_color hover:text-white;

    &:after {
      @apply !bg-button_color;
    }
  
    &:hover::after {
      width: 100% !important;
    }
  }

  &.next_step,
  &.btn_form,
  &.btn-form-newsletter {
    &:after {
      @apply !bg-smoke ;
      z-index: 1;
    }

    span {
      @apply z-50
    }
  }


  &.btn-form-newsletter {
    &:hover {
      span {
        @apply !text-white;
      }
    }
  }
}

.call_header {
  .btn {
    min-width: 200px;
    min-height: 45px;
    @apply font-third z-10 !items-center rounded-2xl capitalize font-bold flex justify-center bg-button_color px-10 py-2 text-2xl leading-none text-white 
  }
}
