.form_elements_design_one {
  &.small-textarea {
    textarea {
      @apply h-24;
    }
  }
  form {
    br,
    p:empty {
      @apply hidden;
    }
    input:not([type='submit']),
    textarea {
      @apply w-full bg-white text-base text-[#707070] text-left px-4 py-2;
    }
    textarea.wpcf7-not-valid,
    input:not([type='submit']).wpcf7-not-valid {
      border: 3px solid #da2020;
    }
    textarea {
      @apply h-36;
    }
    .disclaimer {
      @apply text-sm lg:text-sm leading-tight text-left text-white mt-6 mb-4;
      a {
        @apply font-semibold underline;
      }
    }
    input[type='submit'] {
      @apply font-bold text-xl leading-8 text-center text-white px-9 py-2 rounded-3xl bg-accent mx-auto my-0 block w-fit;
    }
    input:not([type='submit']) {
      @apply h-11 flex items-center;
    }
    label {
      span {
        @apply block mb-1 text-white;
      }
    }
    .wpcf7-not-valid-tip {
      @apply border-b-2 border-red-600 w-max;
    }

    .fields {
      @apply flex gap-5 sm:flex-col sm:mb-5;

      label {
        @apply p-0;

        span {
          input {
            @apply sm:m-0;
            outline-width: 0;
          }
        }
      }

      .textarea-label {
        @apply w-full;
        textarea {
          outline-width: 0;
        }
      }
    }

    .btn {
      @apply border-[3px] mb-5 rounded-md;
    }
  }

  p {
    @apply !w-full text-white;

    a {
      @apply font-bold underline;
    }
  }

  &.dark_style {
    @apply shadow-lg;
    form {
      label {
        @apply text-white;
      }
    }
  }
  .sent {
    .wpcf7-response-output {
      @apply block text-white text-center text-2xl py-4 px-4;
    }
  }

  .wpcf7-form-control-wrap {
    @apply !bg-inherit
  }
}

.subscribe_form--style-1 {
  @apply flex gap-x-4 items-end md:flex-col md:items-center md:justify-center md:gap-y-4;
  input {
    @apply focus:text-black font-medium w-80 h-12 py-4 pl-5 border-headings border-2 focus:outline-none focus:border-accent active:border-accent;
  }
  button {
    @apply mx-auto bg-accent w-64 rounded-full h-12 text-xl flex items-center justify-center hover:bg-accent hover:text-white font-main font-bold transition duration-300;
  }
  label {
    @apply flex gap-y-1 flex-col;
    span {
      @apply text-accent  font-bold text-xl;
    }
  }
  br,
  p:empty {
    @apply hidden;
  }
}

.attorney-group__form {
  @apply gap-x-4 items-end justify-end sm:flex-col sm:items-center sm:justify-center sm:gap-y-4;

  input,
  textarea {
    @apply w-full mx-auto flex items-center justify-center text-black;
  }

  input {
    @apply py-2 px-4 mb-3;
  }

  input::placeholder {
    @apply text-[#707070];
  }

  input[type='submit'] {
    @apply bg-red-600 w-56 h-12 rounded-full my-5 font-bold text-xl text-white leading-none;
  }

  .btn {
    @apply leading-[3px];
  }

  textarea {
    @apply pl-4 pt-2 mb-3 h-40;
  }

  textarea::placeholder {
    @apply text-[#707070];
  }

  p {
    @apply text-base w-4/5 mx-auto;
  }

  label {
    @apply pl-2 text-white;
  }

  .wpcf7-spinner {
    @apply hidden;
  }

  br {
    @apply hidden;
  }
}

.form {
  input,
  textarea {
    @apply w-full mx-auto flex items-center justify-center pl-4;
  }

  input {
    @apply py-2 mb-3;
  }

  input::placeholder {
    @apply text-[#707070];
  }

  input[type='submit'] {
    @apply bg-red-600 w-56 h-12 rounded-full my-5 font-bold text-xl text-white;
  }

  textarea {
    @apply pt-2 mb-3 h-40;
  }

  textarea::placeholder {
    @apply text-[#707070];
  }

  p {
    @apply text-base w-4/5 mx-auto;
  }

  label {
    @apply pl-2 pb-2 text-white;
  }

  .wpcf7-spinner {
    @apply hidden;
  }

  .wpcf7-form-control-wrap {
    @apply bg-white text-black;
  }

  br,
  p:empty {
    @apply hidden;
  }

  &.sidebar-template {
    p {
      @apply w-full;
    }
  }
}

.banner-form {
  select {
    @apply rounded-2xl text-headings border-black text-2xl font-second font-bold min-w-[450px] min-h-[65px] shadow-siteWide pr-7 pl-20 mb-5 outline-0 appearance-none bg-no-repeat lg:min-w-[430px] xs:min-w-min xs:w-full;
    border: 1px;
  }

  select {
    background-image: url(../../img/select-arrow.svg);
    background-position: 30px 30px;
  }

  .first-step {
    .wpcf7-form-control-wrap {
      @apply bg-transparent;
    }
  }

  .second-step-form {
    @apply border-2 text-left border-white px-16 pb-10 pt-16 -mt-14 sm:pb-5 sm:px-5;

    p {
      @apply text-left;
    }

    .wpcf7-form-control-wrap {
      @apply bg-inherit;

      .wpcf7-form-control {
        @apply flex;

        .wpcf7-list-item {
          @apply !flex gap-2;

          input {
            @apply w-6 h-[2.35rem] rounded outline-0 sm:h-[1.95rem];
          }

          span {
            @apply text-2xl sm:text-xl;
          }

          .wpcf7-list-item-label {
            @apply text-white font-bold;
          }
        }
      }
    }

    .wpcf7-checkbox {
      @apply sm:mb-4;
    }
  }

  p {
    @apply w-full text-center font-thin text-white text-xl mb-4 sm:text-xl;

    span {
      @apply font-bold
    }
  }

  button {
    @apply !h-[55px] min-w-[425px] border-2 border-white;
  }

  input {
    @apply h-[50px] outline-0 rounded;
  }

  .next_step {
    @apply !min-w-[450px] items-center min-h-[75px] font-third text-2xl border-white border-[5px] m-auto hover:cursor-pointer mdt:!min-w-[360px] sm:!min-w-[320px] lg:text-xl xs:!min-w-[100%];
  }

  .wpcf7-not-valid-tip {
    @apply text-white border-button_color;
    border-bottom: 1px solid;
  }
}

.sidebar-form {
  form {
    p {
      width: 100%;
    }
    .disclaimer {
      @apply text-sm lg:text-sm leading-tight text-left text-white mt-6 mb-4;
      a {
        @apply font-semibold underline;
      }
    }
  }
}
