.form_elements_design_one {
  &.small-textarea {
    textarea {
      @apply h-24;
    }
  }
  form {
    br,
    p:empty {
      @apply hidden;
    }
    input:not([type='submit']),
    textarea {
      @apply w-full bg-white text-base text-[#707070] text-left px-4 py-2;
    }
    textarea.wpcf7-not-valid,
    input:not([type='submit']).wpcf7-not-valid {
      border: 3px solid #da2020;
    }
    textarea {
      @apply h-36;
    }
    p.disclaimer {
      @apply text-base lg:text-sm leading-tight text-left text-white mt-6 mb-4;
    }
    input[type='submit'] {
      @apply font-bold text-xl leading-8 text-center text-white px-9 py-2 rounded-3xl bg-accent mx-auto my-0 block w-fit;
    }
    input:not([type='submit']) {
      @apply h-11 flex items-center;
    }
    label {
      span {
        @apply block mb-1 text-white;
      }
    }
    .wpcf7-not-valid-tip {
      @apply border-b-2 border-red-600 w-max;
    }
  }
  .sent {
    .wpcf7-response-output {
       @apply block text-white text-center text-2xl py-4 px-4;
    }
  }
}

.subscribe_form--style-1 {
  @apply flex gap-x-4 items-end justify-end sm:flex-col sm:items-center sm:justify-center sm:gap-y-4;
  input {
    @apply focus:text-black font-medium w-80 h-12 py-4 pl-5 border-headings border-2 focus:outline-none focus:border-accent active:border-accent;
  }
  button {
    @apply mx-auto bg-accent w-64 rounded-full h-12 text-xl flex items-center justify-center hover:bg-accent hover:text-white font-main font-bold transition duration-300;
  }
  label {
    @apply flex gap-y-1 flex-col;
    span {
      @apply text-accent  font-bold text-xl;
    }
  }
  br,
  p:empty {
    @apply hidden;
  }
}


.attorney-group__form {
  @apply flex gap-x-4 items-end justify-end sm:flex-col sm:items-center sm:justify-center sm:gap-y-4;

  input,
  textarea {
    @apply w-full mx-auto flex items-center justify-center;
  }

  input {
    @apply py-2 mb-3;
  }

  input::placeholder {
    @apply pl-4 text-[#707070];
  }

  input[type="submit"] {
    @apply bg-red-600 w-56 h-12 rounded-full my-5 font-bold;
  }

  textarea {
    @apply pl-4 pt-2 mb-3 h-40;
  }

  textarea::placeholder {
    @apply text-[#707070];
  }

 
  p {
    @apply text-base w-4/5 mx-auto;
  }

  label {
    @apply pl-2 text-white;
  }

  .wpcf7-spinner {
    @apply hidden;
  }

}

.attorney-group__form {
  @apply flex gap-x-4 items-end justify-end sm:flex-col sm:items-center sm:justify-center sm:gap-y-4;

  input,
  textarea {
    @apply w-full mx-auto flex items-center justify-center text-black;
  }

  input {
    @apply py-2 mb-3 text-black pl-2;
  }

  input::placeholder {
    @apply pl-2 text-[#707070];
  }

  input[type="submit"] {
    @apply bg-red-600 w-56 h-12 rounded-full my-5 font-bold text-xl text-white;
  }

  textarea {
    @apply pl-4 pt-2 mb-3 h-40;
  }

  textarea::placeholder {
    @apply text-[#707070] ;
  }

 
  p {
    @apply text-base w-4/5 mx-auto text-white;
  }

  label {
    @apply pl-2 pb-2 text-white;
  }

  .wpcf7-spinner {
    @apply hidden;
  }

  .wpcf7-form-control-wrap {
    @apply bg-white text-black;
  }

  br,
  p:empty {
    @apply hidden;
  }

}

.form {
  input,
  textarea {
    @apply w-full mx-auto flex items-center justify-center;
  }

  input {
    @apply py-2 mb-3;
  }

  input::placeholder {
    @apply pl-4 text-[#707070];
  }

  input[type="submit"] {
    @apply bg-red-600 w-56 h-12 rounded-full my-5 font-bold text-xl text-white;
  }

  textarea {
    @apply pl-4 pt-2 mb-3 h-40;
  }

  textarea::placeholder {
    @apply text-[#707070];
  }

  p {
    @apply text-base w-4/5 mx-auto;
  }

  label {
    @apply pl-2 pb-2 text-white;
  }

  .wpcf7-spinner {
    @apply hidden;
  }

  .wpcf7-form-control-wrap {
    @apply bg-white text-black;
  }

  br,
  p:empty {
    @apply hidden;
  }

}