@tailwind components;

@layer components {
    .form_elements_design_one {
        form {
            input:not([type="submit"]), textarea {
                @apply w-full bg-white text-base text-[#707070] text-left px-4 py-2;
            }
            textarea.wpcf7-not-valid,
            input:not([type="submit"]).wpcf7-not-valid {
                border: 3px solid #da2020;
            }
            textarea {
                @apply h-36;
            }
            p.disclaimer {
                @apply text-base leading-tight text-left text-white mt-6 mb-4;
            }
            input[type="submit"] {
                @apply font-bold text-xl leading-8 text-center text-white px-9 py-2 rounded-3xl bg-accent mx-auto my-0 block w-fit;
            }
            input:not([type="submit"]) {
                @apply h-11 flex items-center;
            }
        }
    }
}