.main-menu {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
  gap: 0 20px;
  a {
    font-size: 18px;
    line-height: 2em;
    text-align: left;
    color: #fff;
    text-transform: uppercase;
    position: relative;
    transition: .3s all;
    &:after {
      @apply bg-accent w-6/12 h-1 absolute -bottom-2 left-[25%] hidden;
      content:  '';

    }
    &:hover {
      @apply transform scale-[1.02];
      &:after {
        @apply block;
      }
    }
  }

  li {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

    &.menu-item-has-children {
      position: relative;

      &:after {
        position: relative;
        left: 5px;
        top: -1px;
        content: url('../img/dropdown-down.svg');
      }

      &:hover {
        .sub-menu.lvl-1 {
          display: block;
        }
      }
    }
    &.current_page_item {
      a:after {
        display: block;
      }
    }
  }
}

.menu-main-menu-container {
  @apply lg:w-8/12;
}

.sub-menu.lvl-1 {
  @apply absolute p-0 bg-headings;
  top: 100%;
  min-width: 300px;
  left: -5px;
  display: none;

  li {
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
  }

  li.menu-item-has-children {
    &::after {
      transform: rotate(-90deg);
      left: 0;
    }
    &:hover {
      .sub-menu.lvl-2 {
        display: block;
        @media (max-width: 1024px) {
          display: none;
        }
      }
    }
  }

  a {
    font-size: 17px;
    display: block;
    width: 100%;
    &:after {
      width: 100%;
      left: 0;
    }
  }
}

.sub-menu.lvl-2 {
  @apply absolute p-0 bg-bg_second;
  top: -11px;
  min-width: 300px;
  left: 100%;
  display: none;
  @media (max-width: 1024px) {
    left: 0;
    top: 0;
  }

  li {
    align-items: flex-start;
    justify-content: flex-start;
  }
  a {
    font-size: 17px;
  }
}

.footer-menu {
  margin-top: 15px;
}

.footer-menu li {
  color: white;
  font-family: Avenir;
  font-size: 17px;
  padding-left: 12px;
}

.footer-menu li:first-child {
  line-height: 1px;
  margin-bottom: 10px;
}

.footer-menu {
  border-left: 4px solid #69BE26;
}