/* @import './header.css';
@import './_desktop-menu.css';
@import './_mobile-menu.css';
*/
@import './_case-types.css';

@import './_footer.css';
@import './_bio-page.css';
@import '../../../node_modules/@glidejs/glide/dist/css/glide.core.css';
@import './components/buttons.css';
@import './components/_headings.css';
@import './components/form.css';
@import './components/_faq.css'; 

html body .edit-post-visual-editor__content-area {
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
}

html body {
  .acf-field {
    input,
    textarea,
    select {
      border: 1px solid #8c8f94 !important;
    }
    textarea {
      resize: vertical;
    }
  }
}

html :where(.wp-block) {
  max-width: 100%;
}

