header {
  @apply transition-all duration-300;

  a.logo-desktop img {
    @apply h-[82px] w-auto object-contain transition-all duration-300;
  }
  .call_header {
    @apply transition-all duration-300;
  }

  &.sticked {
    @apply h-[100px];
    a.logo-desktop img {
      @apply h-[58px] w-auto object-contain;
    }
    .call_header {
      margin-bottom: -43px;
    }
    .menu-row-wrapper {
      .call_header {
        margin-bottom: -23px;
        opacity: 0;
      }
    }
  }
  @media (max-width: 1024px) {
    &.sticked {
      @apply lg:p-1;
    }
  }
}

/* homepage hero br */
.hero-br {
  display: none;
}

@media (max-width:1500px) {
  .hero-br {
    display: block;
  }
}