@import './_desktop-menu.css';
@import './_mobile-menu.css';
@import './_case-types.css';

@import './_footer.css';
@import './_bio-page.css';
@import './_awards-slider.css';
@import '../../../node_modules/@glidejs/glide/dist/css/glide.core.css';
@import './components/buttons.css';
@import './components/_headings.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #333;
  --link-color: #3f5ee4;
  --accent-color: #48bb8b;
  --border-color: #d4d4d4;
}

@layer {
  .background-image {
      @apply bg-[url('../../../assets/img/background-awards-slider.jpg')];
  }
}

body.logged-in {
  margin-top: 0px !important;
}

.span-change_color_1 {
  span {
    @apply text-kennyBlue;
  }
}


.triangle {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 0;
  border-top: 25px solid #f4f2f2;
}

.triangle.white {
  border-top: 25px solid white;
  z-index: 1;
  top: 100%;
}

@media (max-width: 768px) {
  .triangle.white {
    top: 104%;
  }
}

.open-faq {
  background-color: #69be26;
}

.open-faq h3 {
  color: white;
}

.title-faq h3::after {
  content: url('../../../assets/img/icon-plus.svg');
  position: absolute;
  right: 2%;
  top: 34%;
}

.open-faq h3::after {
  content: url('../../../assets/img/icon-minus.svg');
  top: 19%;
}

@media (max-width: 1024px) {
  .open-faq h3::after {
    top: 27%;
  }
}

.glide__bullet--active {
  @apply bg-kennyBlueSecond;
}

body.logged-in {
  margin-top: 20px;
}


@layer components {
  .contact-page__form {
    [type='text'],
    [type='email'],
    [type='tel'] {
      @apply focus:text-white  w-full h-12 py-4 pl-5 mb-3 mt-3 border-kennyBlueSecond border-2 focus:outline-none focus:border-kennyGreen active:border-kennyGreen;
    }

    textarea {
      @apply focus:text-white w-full h-16  lg:h-28 pt-4 pl-5 mt-3 border-kennyBlueSecond border-2  focus:outline-none focus:border-white;
    }
    
    [type='submit'] {
      @apply my-6 mx-auto xl:mt-6 xl:mb-8 md:my-5 bg-kennyGreen w-64 rounded-full  h-16 xl:h-12 text-xl flex items-center justify-center hover:bg-kennyGreen hover:text-white font-avenir font-bold transition duration-300;
    }

    [type='text']::placeholder,
    [type='email']::placeholder,
    [type='tel']::placeholder,
    [type='submit']::placeholder,
    textarea::placeholder {
      @apply text-[#707070];
    }
    .wpcf7-spinner,
    .wpcf7-response-output,
    .wpcf7-not-valid-tip {
      @apply hidden;
    }

    .wpcf7-not-valid {
      border: 2px solid red;
    }
    .policy-text {
      @apply text-sm;
    }
  }

}
