@import './header.css';
@import './_desktop-menu.css';
@import './_mobile-menu.css';
@import './_case-types.css';
@import './_blog.css';
@import './_home-page.css';

@import './_footer.css';
@import './_bio-page.css';
@import '../../../node_modules/@glidejs/glide/dist/css/glide.core.css';
@import './components/buttons.css';
@import './components/_headings.css';
@import './components/form.css';
@import './components/_faq.css';
@import './components/_toc.css';
@import './components/_breadcrumbs.css';
@import './components/_thank-you-messages.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-color: #333;
  --link-color: #3f5ee4;
  --accent-color: #48bb8b;
  --border-color: #d4d4d4;
}

@layer {
  .background-image {
    @apply bg-[url('../../../assets/img/background-awards-slider.jpg')];
  }
}

body.logged-in {
  margin-top: 0px !important;
}

.span-change_color_1 {
  span {
    @apply text-headings_second;
  }
  b,
  strong {
    @apply text-headings_second font-bold;
  }
}
.span-change_color_2 {
  span {
    @apply block text-white;
  }
}

.span-change_color_3 {
  span {
    @apply text-accent;
  }
}

.process_text_design__one {
  span {
    @apply font-bold text-accent;
  }
  b,
  strong {
    @apply text-headings;
  }
}

.page-text-styles {
  ul {
    @apply list-disc;
  }
  ol {
    @apply list-decimal;
  }
}

.triangle {
  width: 0;
  height: 0;
  border: 25px solid transparent;
  border-bottom: 0;
  border-top: 25px solid #f4f2f2;
}

.triangle.white {
  border-top: 25px solid white;
  z-index: 1;
  top: 100%;
}

@media (max-width: 768px) {
  .triangle.white {
    top: 104%;
  }
}

.open-faq {
  background-color: #69be26;
}

.open-faq h3 {
  color: white;
}

.title-faq h3::after {
  content: url('../../../assets/img/icon-plus.svg');
  position: absolute;
  right: 2%;
  top: 34%;
}

.open-faq h3::after {
  content: url('../../../assets/img/icon-minus.svg');
  top: 19%;
}

@media (max-width: 1024px) {
  .open-faq h3::after {
    top: 27%;
  }
}

.glide__bullet--active {
  @apply bg-headings;
}

body.logged-in {
  margin-top: 20px;
}

.hidden-with-shadow:after {
  content: ' ';
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: linear-gradient(to bottom, rgba(244, 242, 242, 0) 0%, rgba(244, 242, 242, 1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#f4f2f2',GradientType=0 ); /* IE6-8 */
}

/* Smooth Scrool */
html {
  scroll-behavior: smooth;
}

/* Big Auto Footer Form */
@layer components {
  .big-auto-footer-form {
    margin-bottom: -150px;
  
    .fields {
      display: flex;
      gap: 20px;
    }

    .fields label {
      padding: 0;
    }

  }

}

/* FAQ Content Box */

@layer components {
  .faq-content-box ul,
  .faq-content-box ol {
  padding-left: 20px;
     
    
  }
}

.faq-shadow {
  box-shadow: 0px 3px 10px rgb(0 0 0 / 26%);
}